

<%include partials/header %>

<body>

<form method="POST" action="/admin/postlogin" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Username</label>  
  <div class="col-md-4">
  <input id="textinput" name="username" type="text" placeholder="username" class="form-control input-md" >
  <span class="help-block">Please enter username</span>  
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Password">password</label>
  <div class="col-md-4">
    <input id="Password" name="Password" type="password" placeholder="password" class="form-control input-md" >
    <span class="help-block">Please enter password</span>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit">submit</label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-info">Submit</button>
  </div>
</div>

</fieldset>
</form>


<%= message%>


</body>
<% include partials/footer %>
